<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue</title>
</head>
<body>

<!--v-model:指令-->
<!--v-if:若不存在，删除DOM-->
<!--v-show:若不存在，隐藏元素-->

<div id="app">
    <div>
        <input type="text" v-model="name">
        <span>姓名：{{name}}</span>
    </div>
    <div>
        <input type="text" v-model="age">
        <span v-if="age">年龄：{{age}}</span>
    </div>
    <div>
        <input type="text" v-model="sex">
        <span v-show="sex">性别：{{sex}}</span>
    </div>
</div>

<script src="../lib/vue.js"></script>
<script src="main.js"></script>
</body>
</html>